---
title: Onsdag
date: "2023-1-18"
count: 25
color: cadetblue
list: [1, 2, 3, 4, "boo"]
---
Jag ändrade texten på sidan från "information" til "Anton Simulator"

Jag försökte sedan dela up upgrades knapparna. Jag lyckades med att dela up bilderna. Men jag kan inte justera dem separat