---
title: Fredag
date: "2023-1-20"
---

Jag har fixat bilderna på upgrades knapparna så att de går att justera separat. Förra lektionen gjorde jag så att det gick 
att använda två olika bilder. Det gick däremot inte att justera dem separat. Detta löste jag och lisa genom att göra ett 
id av namnet i dictionariet.
```js
<button
    class="upgrade" id="{upgrade.name}" style="background-image:{upgrade.img};"
```